body {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

canvas {
  display: block;
}

#draw {
  position: absolute;
  top: 30%;
  width: 100%;
  font-size: 100px;
  text-align: center;
  opacity: 0.2;
  display: block;
  font-family: "Courier New", Courier, monospace;
  pointer-events: none;
}

#light {
  position: absolute;
  opacity: 0;
  display: block;
  pointer-events: none;
  cursor: move;
  width: 75px;
}

.icon {
  font-family: Arial, sans-serif;
  font-size: 120%;
  float: right;
}

.github:before {
  content: '↗';
}
